
.element-style {
    color: blue;
    justify-content: center;
}
.body { 
    font-family: Arial, sans-serif;
    margin: 200px;
    padding: 300px;
    background-color: orangered ;
    box-sizing: border-box;
    flex-direction: row;
}




.container {
    display:inline flex
    padding: 20px;
    box-sizing: border-box;
    background-color: lightgrey;   
    width: 1152px;
    height: 700px }

.box {
    
    border: 5px darkgreen;
    border-radius:15px;
    display:inline-flex;

     padding: 20px;
    height: 160px;
    width: 468;
     margin: 10px;
    
    height:160;
    
}

.box2
{
    border: 5px darkgreen;
    width:468px;
    height:160px;
    margin: 10px;
    padding:20px;
    border-radius:15px;
    display:inline-flex;
    
    
    
    background-color: lightpink;

    
    
     }

 .box-2_box {
    width:
    background-color: violet;¨
    border-radius:15px;

    margin: 10px;
    display:inline-flex;
    height:
    border:5px darkgreen;
    padding: 20px;  


 }
    

    .box1
    {
        border: 5px darkgreen;
        width:468px;
        height:160px;
        border-radius:15px;
        border: 5px; 
        padding: 20px;
        
        margin: 10px;   
        background-color: lightblue;
        
        display:inline-flex;}
        .box1_box {
            width:78px;
            height:78px;
            background-color: violet;
            border-radius:5px;
            margin-left:20 px;
            margin-top:20 px;
        }

        .box3
        {
            border: 5px darkgreen;
            border-radius:15px;
            width:468px;
            height:160px;
            border: 5px; 
            padding: 20px;
            
            margin: 10px;   
            background-color: lightgreen;
            
            display:inline-flex;}

            .box4
            {
                border: 5px darkgreen;
                border-radius:15px;
                width:468px;
                height:160px;
                border: 5px; 
                padding: 20px;
                
                margin: 10px;   
                background-color: lightyellow;
                
                display:inline-flex;}

                .box5
                {
                    border: 5px darkgreen;
                    border-radius:15px; 
                    
                    
                    width:468px;
                    height:160px;
                    
                    padding: 20px;
                    
                    margin: 10px;   
                     border-radius:15px;      
                    background-color: lightcoral;
                    
                    display:inline-flex;}  


                    .box6
                    {
                        border: 5px darkgreen;
                        border-radius:15px;
                        width:468px;
                        height:160px;
                        border: 5px; 
                        padding: 20px;
                        
                        margin: 10px;   
                        background-color: lightseagreen;
                        
                        display:inline-flex;}  
