


.body {
    display:flex; 
    font-family: Arial, sans-serif;
    margin:200px;
    padding: 300px;
    background-color: orangered ;
    box-sizing:border-box;
    flex-direction:row;
}




.container {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    
    
    background-color: lightgrey;   
   max-width:1152px;
   min-height:700px; 
   border:5px darkgreen;
   width:100%;}

.box {
    
    border:5px darkgreen;
    border-radius:15px;
    display:flex;

     
    height: 160px;
    width: 468px;
     margin-top:20px;   
     margin-left:20px;
     display:flex;
     justify-content:flex-start;
     align-items:flex-end;
    background-color: lightpink;
    height:160px;
    
}

.box_box {
    width:78px;
    background-color: violet;
    border-radius:15px;

    margin: 10px;
    display:flex;
    
    height:78px;
    border:5px darkgreen;
     
    justify-content: space-between; }

.box2
{
    border: 5px darkgreen;
    width:468px;
    height:160px;
    
    
    border-radius:15px;
    display:flex;
    margin-top:20px;   
     margin-left:20px;
     flex-wrap:nowrap;
     justify-content:flex-end;
     align-items:center;
    
    
    
    background-color: lightpink;

    

    
    
     }

 .box2_box {
    width:78px;
    background-color: violet;
    border-radius:15px;
    margin:10px;
    display:flex;
    height:78px;
    border:5px darkgreen;
     
    justify-content:space-between;

    


 }
    

    .box1
    {
        border: 5px darkgreen;
        width:468px;
        height:160px;
        border-radius:15px;
        border: 5px; 
        
        display:flex;
        margin-top:20px;   
        margin-left:20px;
         
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        
    }

        .box1_box {
            width:78px;
            height:120px;
            background-color: violet;
            border-radius:5px;
            margin-left:20px;
            margin-top:20px;
            display:flex;
            justify-content: space-between;
        }

        .box3
        {
            border: 5px darkgreen;
            border-radius:15px;
            width:468px;
            height:160px;
            border: 5px; 
            
            margin-top:20px;   
            margin-left:20px;
            display:flex;
            justify-content:space-between;
            align-items: center;
            background-color: lightgreen;
            
            }

            .box3_1_box
            {
                width:78px;
                height:78px;
                display:flex;
                background-color:violet;
                border-radius:5px;
                margin-top:20px;
                margin-left:20px;
                align-self:flex-start;
            }
            .box3_box {
                width:78px;
                height:78px;
                display:flex;
                background-color: violet;
                border-radius:5px;
                margin-left:20px;
                margin-top:20px;
                align-self:flex-start;
            }
            .box3_3_box
            {
                width:78px;
                height:78px;
                display:flex;
                background-color:violet;
                border-radius:5px;
                margin-top:20px;
                margin-left:20px;
                margin-right:10px;
                margin-bottom:10px;
                align-self:flex-end;
            }
            .box4
            {
                border:5px darkgreen;
                border-radius:15px;
                display:flex;
                width:468px;
                height:160px;
                border:5px; 
    
                margin-top:20px;   
                margin-left:20px;
                margin-bottom:10px;
                justify-content:space-between;
                align-items:space-between;  
                background-color: lightyellow;
            
                }


                .box4_1_box
                {
                width:78px;
                min-height:78px;
                display:flex;
                background-color:green;
                border-radius:5px;
                margin-top:20px;
                margin-left:20px;
                margin-bottom:10px;
                align-self:stretch;
                }
                .box4_box {
                    width:78px;
                    height:78px;
                    display:flex;
                    background-color:violet;
                    border-radius:5px;
                    margin-left:20px;
                    margin-top:20px;
                    
                    
                }   

                .box4_3_box
                {
                    width:78px;
                min-height:78px;
                display:flex;
                background-color:violet;
                border-radius:5px;
                margin-top:20px;
                margin-left:20px;
                margin-right:10px;
                align-self:stretch;
                }

                .box5
                {
                    border: 5px darkgreen;
                    border-radius:15px; 
                    min-width:468px;
                    min-height:160px; 
                
                    margin-top:20px;   
                    margin-left:20px;
                    margin-right:20px;
                    display:flex;
                    justify-content:center;
                    align-items:center;  
                     border-radius:15px;      
                    background-color:lightcoral;
                    
                    }  

                    .box5_box {
            width:78px;
            height:78px;
            background-color: violet;
            border-radius:5px;
            margin-left:20px;
            margin-top:20px;
            display: flex;
            justify-content: space-between;
             }
            .box5_2_box
            {
             width:78px;
            height:78px;
            background-color: violet;
            border-radius:5px;
            margin-left:20px;
            margin-top:20px;
            margin-right:10px;
            display:flex;
            justify-content:space-between;
            flex-grow:2;
            }

            .box5_3_box

            {width:78px;
            height:78px;
            background-color: violet;
            border-radius:5px;
            margin-left:20px;
            margin-top:20px;
            margin-right:10px;
            display:flex;
            justify-content:space-between;
            


            }

                    
                    
